<!DOCTYPE html>
<html>
<head>
    <title>Tasks</title>
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/index.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <ul>
            <li class="company_logo">Task Manager</li>
            <li class="right"><a id="a_create_task" href="#/create_task">Create Task</a></li>
            <li class="right"><a id="a_show_tasks" href="#/show_tasks">Show Tasks</a></li>
        </ul>
    </nav>
</header>
<div id="create_task_container">
    <h1>Create A Task</h1>
    <div>
        <form name="form_task">
            <input type="text" name="description" placeholder="description"/>
            <input type="number" max="3" min="0" name="status" placeholder="status"/>
            <input type="number" max="3" min="1" name="priority" placeholder="priority"/>
            <input type="text" name="tags" placeholder="tags"/>
            <input type="text" name="notes" placeholder="notes"/>
        </form>
        <a id="a_create_server_task" href="#" class="clickable">Create Task</a>
        <div id="message_create_task"></div>
    </div>
</div>
<div id="show_tasks_container">
    <div id="dummytask" data-priority="1" class="task">
        <div class="task_row">
            <span class="data">working on a distant panel</span>
            <span class="caption">description</span>
        </div>
        <div class="task_row">
            <span class="data">1</span>
            <span class="caption">status</span>
        </div>
        <div class="task_row">
            <span class="data">instant data sets</span>
            <span class="caption">tags</span>
        </div>
        <div class="task_row">
            <span class="data">na</span>
            <span class="caption">notes</span>
        </div>
        <div class="icons">
            <i class="fa fa-pencil-square-o"></i>
            <i class="fa fa-spinner spin"></i>
            <i class="fa fa-times"></i>
        </div>
    </div>
</div>



<script src="/js/index.js"></script>

</body>
</html>